html, body, #root, .app{
    height: 100%;
}
.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/bg.jpg");
    background-size: cover;
    background-position: center;  
    min-height: 650px;
    opacity: 0.9;
}
.inner-container{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 16px 32px;
    color: white;
    opacity: 0.8;
    border-radius: 1rem;
}
@media screen and (max-width: 480px) {
    .inner-container{
        padding: 4px 8px;
        font-size: 0.85rem;
    }

}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.second{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-size: large;
}
input{
    text-indent: 2px;
    background-color: rgba(0, 255, 255, 0.241);
    border-radius: 0.2rem;
    border-color: white;
    border-style : solid;
    color: rgb(187, 172, 33);
    color: #ffffff;
    font-family:  'Calibri';
}
input:focus{
    outline: none;
}
input::placeholder{
    color: #ffffff;
    opacity: 0.8;
}
.btn{
    text-indent: 0px;
    cursor: pointer;
}