.addBlock, .noteBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    border: solid;
    background-color: rgb(84, 0, 53);
    min-height: inherit;
    padding: 4px 4px;
    transition:  all .2s ease-in-out;
}
.noteBlock:hover{
    transform: scale(1.05);
}
.Notes-Container{
    min-height: 500px;
}
.noteBlock{
    color : white;
    border: #000000;
    font-family: "Cedarville Cursive";
    cursor: pointer;
}
.single-note{
    color : black;
    margin-top: -3.5rem;
    display: flex;
    flex-direction: column;
    gap : 2rem;
    min-width: 14rem;
}
.content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.options{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.other{
    gap : 3.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.notesShow{
    display: grid;
    grid-template-rows: auto;
    place-content: center;
    gap : 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr ;
}
.other{
    min-height: 650px;
    background-image: linear-gradient(to right,#FCCF31 , #F55555);
}
.noteBlock{
    display: flex;
    flex-direction: column;
}

.new-note{
    display: flex;
    flex-direction: column;
    gap : 0.5rem;
}
.new-note>textarea{
    resize: none;
    height: 4rem;
    border-color: #000000;
}
.new-note>input{    
    border : black solid;
}
.new-note>input::placeholder{
    color :black;
}
.bw>button{
    background-color: rgb(78, 0, 67);
    color : white;
    border-color: #680133;
}
.options>button{
    background-color: rgb(12, 1, 59);
    color: white;
    border-color:  rgb(12, 1, 59);
}
.options>button:hover{
    background-color: rgb(119, 3, 125);
}
@media screen and (max-width : 784px){
    .notesShow{
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }    
}
@media screen and (max-width : 592px){
    .notesShow{
        grid-template-columns: 2fr 1fr 1fr;
    }    
}
@media screen and (max-width : 480px){
    .notesShow{
        grid-template-columns: 2fr 1fr;
        font-size: small;
    }    
}