.Notes-Container{
    display : flex;
    flex-direction: column;
}
.topBar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 30);
    position: sticky;
    padding: 4px 10px;
    opacity: 0.9;
}
.Comp{
    background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%),repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%),radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%),radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%);
    display: flex;
    flex-direction: column;   
    min-height: 600px; 
}
.taskInput{
    display: flex;
    justify-content: center;
}
.search{
    min-width : 20rem;
}
.linked:hover{
    color : yellow;
}
.TaskZone{
    min-height: 490px;
    display: flex;
    /* background-image : linear-gradient(to right, #d7ebeb, #f4afe9, #9d7ef3); */
    background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%),repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%),radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%),radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%);
    justify-content: center;
    min-height: 600px;
}
.taskInput{
    display: flex;
    gap:0;
    margin-top: 4rem;
    box-shadow: #FAF9F8;
}
.taskIn{
    color : black;
    border : solid black;
    background-color: white;
    min-width: 30rem;
    border-radius: none;
}
.taskInput>input::placeholder{
    color: black;
}
.sbtTask{
    color: white;
    background-color : rgb(96, 1, 97);
    border: solid;
    border-radius: none;
}
.internal{
    display: flex;
    justify-content: space-between;
    gap : 0.5rem;
}
.innerTaskZone{
    display: flex;
    flex-direction: column;
    gap : 4rem;
}
.des{
    padding: 2px 2px;
    /* background-color: #270130; */
    border-radius: 0.75 rem;
    border : solid;
    background-image : linear-gradient(to right, #d7ebeb, #f4afe9, #9d7ef3);
    color: #2B2B2B;
    display: flex;
    justify-content: space-between;
    min-width: 30rem;
    transition: all .2s ease-in-out;
}
.des2{
    border-radius: 0.75 rem;
    border : solid;
    background-color: #170146;
    color: aqua;
    display: flex;
    padding: 4px 5px;
    flex-direction: column;
    transition: all .2s ease-in-out;
    font-size: 0.8rem;
}
.des:hover, .des2:hover{
    transform: scale(1.05);
}
.taskInput:last-child{
    border-radius: none;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}
.tasks{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
@media screen and (max-width : 900px){
    .des2{
        font-size: 0.4rem;
    }
}
@media screen and (max-width : 540px) {
    .taskIn{
        min-width : 13rem;
    }   
    .compTasks{
        font-size: 0.25rem;
    }
    .des{
        min-width : 13rem;
    }
    .des2{
        font-size: 0.25rem;
    }
}